$fontThird: 'Open Sans', sans-serif;
$fontSub: 'Roboto', sans-serif;
$fontMain: 'Quicksand', sans-serif;

$fontBold: 700;
$fontRegular: 400;
$fontMedium: 500;
$fontSemiBold: 600;
$fontLight: 300;

$whiteColor: #fff;

$transitionRegular: 0.2s;

$blueBtnColor: #3A79FF;
$blueBtnBackgroundColor: #D2E1FF;

$orangeBtnColor: #D43F3F;
$orangeBtnBackgroundColor: #FFD7D7;

$responsiveFirstDblBtnBackgroundColor: #4C85FF;
$responsiveSecondDblBtnColor: #ADB4D2;

$blogBtnColor: #A6B6DA;

$faqBtnColor: #7382A3;
$faqBtnBgColor: #E8ECF4;

$logoColor: #5E81FE;
$textColor: #8D96BD;
$titleColor: #3D4F9F;

$lineColor: #DAE4FE;

$cardTextColor: #ADB3CB;

$sectionAltBg: #F5F8FF;

$slideBorderColor: #D8E3FE;

$dotColor: #D1D6E3;
$activeDotColor: #5283FF;

$accActiveColor: #495274;
$accColor: #8E96B7;

$lineColor: #D8E3FE;

$startFirstDblBtnColor: #565F82;
$startSecondDblBtnColor: #C7D3FF;
$startSecondDblBtnBorderColor: #A0B4FF;

$formEmailBgColor: #EFEFF7;
$formEmailColor: #7A85AD;